{deps, [{grisp, {git, "https://github.com/grisp/grisp", {tag, "1.0.0"}}},
        {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}]}.

{plugins, [rebar3_grisp]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp_release, "19"},
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
	{post_script, "diskutil unmount /Volumes/GRISP"}
    ]},
    {toolchain, [
        {root, "/Users/peer/projects/grisp/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

{relx, [
    {release, {grisp_sd, "1.0.0"}, [sasl, {epmd, none}, grisp, grisp_sd, 
    	      		 	    runtime_tools]}
]}.
